<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gastos Registrados</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let gasto of gastos">
          <ion-label>
            <h2>{{ gasto.descricao }}</h2>
            <p>Tipo: {{ gasto.tipo }}</p>
            <p>Categoria: {{ gasto.categoria }}</p>
            <p>Valor: {{ gasto.valor | currency:'BRL' }}</p>
            <p>Data: {{ gasto.data | date:'dd/MM/yyyy' }}</p>
          </ion-label>
          <ion-button (click)="removerGasto(gasto.id)" color="danger">Remover</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
