ion-header {
  background-color: #007bff; // Cor do cabeçalho
  color: white; // Cor do texto
}

ion-toolbar {
  --background: #007bff; // Cor de fundo do toolbar
  --color: white; // Cor do texto
}

ion-card {
  margin: 20px; // Margem em torno do cartão
  border-radius: 10px; // Bordas arredondadas
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Sombra para profundidade
}

ion-card-title {
  font-size: 1.5em; // Tamanho da fonte do título
  color: #007bff; // Cor do título do cartão
}

ion-card-content {
  text-align: center; // Centraliza o texto
  font-size: 1.5em; // Tamanho da fonte do conteúdo
  color: #333; // Cor do texto
}

h2 {
  text-align: center; // Centraliza o título
  margin: 20px; // Margem em torno do título
  font-weight: bold; // Fonte em negrito
}

ion-button {
  margin: 10px; // Margem em torno dos botões
  --background: #007bff; // Cor de fundo dos botões
  --color: white; // Cor do texto dos botões
  --border-radius: 5px; // Bordas arredondadas
}

ion-list {
  margin: 20px; // Margem em torno da lista
}

ion-item {
  margin: 5px 0; // Margem vertical entre os itens
  background: #f8f9fa; // Cor de fundo suave para os itens
  border-radius: 5px; // Bordas arredondadas
}

ion-label {
  color: #333; // Cor do texto dos rótulos
  font-size: 1.2em; // Tamanho da fonte do rótulo
}
