<ion-header>
  <ion-toolbar>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total de Gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ totalDespesas | currency:'BRL' }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/add-gastos">Adicionar Gasto</ion-button>
  <ion-button expand="block" routerLink="/gastos-list">Ver Gastos</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumo Financeiro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Total de Despesas: {{ totalDespesas | currency:'BRL' }}</h3>
      <h3>Total de Receitas: {{ totalReceitas | currency:'BRL' }}</h3>
    </ion-card-content>
  </ion-card>
</ion-content>
